*.nd
*.pl
*.pdf
retina.sh~
.#NOTES
retina.sh~
*#
*/*~
*~
*zz.txt
.#*
results/img/*
default_vars.sh
util/default_vars.sh
*/run.moo
*~
stim/cone_iso_step.stm
results/txt_files/*.txt
txt_files/s_dist/*
results/txt_files/s_dist/*
results/nd_files/*
results/*
test.sh
*.bak
